services:
    db:
        image: postgres:15
        volumes:
            - postgres_data:/var/lib/postgresql/data
        env_file:
            - .env
        restart: always

    web:
        build: .
        command: gunicorn Tau.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
        volumes:
            - .:/app
            - static_volume:/app/static
            - media_volume:/app/media
        expose:
            - 8000
        env_file:
            - .env
        depends_on:
            - db
        restart: always

    nginx:
        image: nginx:latest
        volumes:
            - ./nginx:/etc/nginx/conf.d
            - static_volume:/app/static
            - media_volume:/app/media
        ports:
            - 8080:80
        depends_on:
            - web
        restart: always

volumes:
    postgres_data:
    static_volume:
    media_volume:
